$header-height: 80px;
$footer-height: 40px;
$aside-width: 200px;

header {

  height: $header-height;
  @include box-sizing(border-box);
  padding: 20px 20px;
  border-bottom: 2px solid black;
  background-color: white;
  position: relative;
  h1 {
    margin: 0;
    text-align: center;
  }
  &:before {
    @extend %pseudo;
    $bef-height: $header-height - 2;
    $bef-width: $aside-width;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    border-style: solid;
    border-width: $bef-height/2 $bef-width/2;
    border-color: white white black black;

  }
}

footer {
  background-color: black;
  height: $footer-height;
  @include box-sizing(border-box);
}

#main-container {

  display: flex;
  height: calc(100vh - #{$header-height + $footer-height});
  background-color: #f1f1f1;
  width: 100%;
  aside {
    width: $aside-width;
    background-color: black;
    @extend %no-shrink;

    #aside-menu {
      margin: 0;
      padding: 0;
      list-style: none;
      .aside-menu__item {
        $passive-color: #c1c1c1;
        border-bottom: 1px solid $passive-color;
        padding: 0;
        a {
          color: $passive-color;
          text-decoration: none;
          font-size: 16px;
          letter-spacing: .2px;
          display:  block;
          padding: 20px 15px;
          @include transition(color .3s ease);
          will-change: color;
          &:hover, &.active {
            color: white;
          }
        }
      }
    }
  }
  main {
    width: 100%;
    height: 100%;
    overflow: auto;
    @extend %border-box;
    padding: 20px 40px;
  }
}
